* {
    padding: 0;
    margin: 0;
    font-weight: normal!important;
}

a {
    text-decoration: none;
}
.container {
    position: relative;
    overflow-x: hidden;
}
.container-menu {
    background-image: url('assets/Bg-Tks-Alt.png');
    background-size: cover;
    height: 900px;
    padding: 25px;
}
.menu {
    display: flex;
}
.menu .logo {
    height: 40px;
}
.menu .menu-itens {
    position: absolute;
    right: 25px;
    z-index: 10;
}
.menu .menu-itens ul {
    display: flex;
    list-style: none;
}
.menu .menu-itens ul li a{
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 16px;
    color: #E6EBEF;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
}
.menu .menu-itens ul li {
    margin-right: 35px;
}
.menu .menu-itens ul li:last-child {
    margin-right: 0;
}
.presentation {
    margin-top: 40px;
    position: relative;
    z-index: 10;
}
.presentation h1 .big-logo {
    height: 80px;
}
.presentation h2 {
    font-family: AvenirNext-Regular, sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 65px;
    margin-top: 40px;
}
.presentation h3 {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 24px;
    color: #F6F9FC;
    letter-spacing: 0;
    margin-top: 30px;
}
.presentation .contact {
    background-image: linear-gradient(-138deg, #F53F3F 0%, #C7054F 100%);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    font-family: Avenir-Black, sans-serif;
    color: #E6EBEF;
    letter-spacing: 0;
    margin-top: 40px;
    border: none;
    width: 247px;
    display: flex;
}
.presentation .contact a {
    margin: 0 auto;
    text-decoration: none;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e6ebef;
    padding: 8px 20px;
}
.symbols {
    top: 0;
    right: 0;
    overflow-x: hidden;
}
.symbols .circle {
    position: absolute;
    right: -117px;
    top: -257px;
    width: 780px;
    opacity: 0.4;
}
.symbols .lines {
    position: absolute;
    right: -429px;
    top: 52px;
    width: 977px;
}
.container-services {
    background: #131626;
    padding: 80px 25px 25px;
}
.container-services .main-text {
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 24px;
    color: #F6F9FC;
    letter-spacing: 0;
    max-width: 805px;
    margin-bottom: 70px;
}
.container-services .services {
    display: flex;
    flex-wrap: wrap;
}
.container-services .services div {
    margin-bottom: 50px;
}
.container-services .services p {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 17px;
    color: #C1CED9;
    letter-spacing: 0;
}

.container-products {
    padding: 80px 25px 25px;
    background: #F6F9FC;
}
.container-products .main-text{
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 24px;
    color: #171E42;
    letter-spacing: 0;
    max-width: 805px;
    margin-bottom: 70px;
}
.container-products .products{
    display: flex;
    flex-wrap: wrap;
}
.container-products .products div {
    margin-bottom: 50px;
}
.container-products .products p {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 24px;
    color: #9499AB;
    letter-spacing: 0;
}

.container-about {
    background: #E6EBEF;
    padding: 80px 25px 60px;
}
.about {
    display: flex;
    flex-wrap: wrap;
}
.about .main-title {
    width: 100%;
    margin-bottom: 70px;
}
.container-about .about ul{
    list-style-position: inside;
}
.container-about .about p, li {
    font-family: Avenir-Book;
    font-size: 15px;
    color: #9499AB;
    letter-spacing: 0;
}
.container-about .about p {
    margin-bottom: 20px;
}
.container-about .about h4.title {
    opacity: 0.67;
    font-family: "Avenir-Heavy", sans-serif;
    color: #171E42;
}
.container-companies {
    transform: rotate(-360deg);
    background-image: linear-gradient(490deg, #D93845 0%, #5F0B4B 100%);
    padding: 80px 63px 100px;
}
.container-companies .title {
    margin-bottom: 100px;
}
.container-companies .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-companies .mb {
    margin-bottom: 60px;
}
.container-companies .logo {
    width: 33.33%;
    text-align: center;
}
.container-contacts {
    padding: 60px 0;
}
.container-contacts .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}
.container-contacts .contacts .box-contacts {
    background: #f6f7f8;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    padding: 20px 40px 40px 20px;
    margin-right: 53px;
    margin-left: 225px;
}

.container-contacts .contacts .box-contacts input {
    height: 40px;
}

.container-contacts .contacts .box-contacts input,
.container-contacts .contacts .box-contacts textarea {
    width: 344px;
    background: #E7EEF4;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
    color: #9499AB;
    font-size: 17px;
    font-family: "Avenir-Medium", sans-serif;
    padding-left: 0.5em;
    box-sizing: border-box;
}
.container-contacts .contacts .box-contacts textarea {
    height: 156px;
    width: 344px;
    background: #E7EEF4;
    border-radius: 6px;
    border: none;
}
.container-contacts .contacts .box-contacts label {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 17px;
    color: #9499AB;
    letter-spacing: 0;
    line-height: 52px;
    margin-right: 30px;
}
.container-contacts .contacts .box-contacts #submit {
    background-image: linear-gradient(162deg, #F53F3F 0%, #C7054F 100%);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.20);
    border-radius: 6px;
    margin: 22px 0 0;
    font-family: Avenir-Black, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    padding: 10px 35px;
    cursor: pointer;
}
.container-contacts .contacts .box-contacts .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-contacts .contacts .box-contacts .top {
    display: flex;
    justify-content: space-between;
}
.container-contacts .contacts .box-contacts .box-submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container-contacts .contacts .adress {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 20px;
    color: #9499AB;
    letter-spacing: 0;
}
.container-contacts .contacts .adress p:first-child {
    margin-bottom: 40px;
}

.container-footer .footer {
    display: flex;
    align-items: center;
    justify-content: left;
    align-items: baseline;
}

.container-footer .footer .c {
    border: 2px solid #171E42;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.container-footer .footer .c p {
    font-family: "Avenir-Heavy", sans-serif;
}

.container-footer .footer {
    display: flex;
    justify-content: left;
}
.container-footer .footer .logo {
    margin-left: 225px;
    display: flex;
}
.container-footer .footer .collum {
    display: flex;
    margin-left: 130px;
}
.container-footer .footer .collum .collum-item:first-child {
    margin-right: 52px;
}
.container-footer .footer .collum .collum-item ul {
    list-style: none;
}
.container-footer .footer .collum .collum-item ul li a{
    text-decoration: none;
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 18px;
    color: #9499AB;
    letter-spacing: 0;
    line-height: 30px;
}
.container-footer .footer .collum .collum-item h2 a {
    color:#171E42;
}





/*default*/
.center {
    text-align: center;
}
.title-light {
    color: #FFFFFF;
    font-family: "Avenir-Heavy", sans-serif;
}
.title-dark {
    color:#171E42;
    font-family: "AvenirNext-Bold", sans-serif;
}
.title {
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 16px;
}


/*colluns*/
.collum-3-small {
    width: 330px;
    margin-right: 96px;
}
.collum-3-small:last-child {
    margin-right: 0;
}
.collum-3-big {
    width: 360px;
    margin-right: 64px;
}
.collum-3-big:last-child {
    margin-right: 0;
}
.collum-4-big {
    width: 460px;
    margin-right: 64px;
}
.collum-4-big:last-child {
    margin-right: 0;
}


.bg-npx {
    background: url('assets/Bg-Npx.jpg') center top;
    background-size: cover;
    position: relative;
    padding: 0;
    height: auto
}
.bg-npx::after {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 340px 1510px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
.gradientBg {
    background-image: linear-gradient(-138deg, #014B97 0%, #001557 100%);
    background-image: linear-gradient(-270deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
    padding: 25px 25px 170px 25px;
}
.bg-npx .presentation {
    margin-top: 100px;
}
.bg-npx .symbols {
    max-width: 843px;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 120px;
    right: -115px;
    z-index: 2;
    overflow: visible;
    margin: 0;
}
.bg-npx .contact {
    background: #008BFF
}
.link-login {
    margin-left: 110px
}
.link-login a {
    background: url('assets/icon-login.png') no-repeat center right;
    display: inline-block;
    padding: 1px 35px 0 0;
}
.box-video {
    margin: 65px 0 0 -15px
}
.symbols .macbook {
    width: 843px;
}
.symbols .mobile {
    width: 170px;
    position: absolute;
    bottom: -100px;
    left: -8px;
}
.info-npx {
    font-family: "AvenirNext-Regular";
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 65px;
    max-width: 486px
}
.bg-white {
    background: #ffffff;
}
.bg-white h4 {
    color: #171E42;
}
.bg-white .services p {
    font-size: 20px;
    color: #9499AB;
    letter-spacing: 0;
}
.bg-white .services div {
    margin-bottom: 10px;
}
.bg-white .services .icon {
    height: 80px;
    margin-bottom: 20px
}
.container-services.bg-white {
    padding: 30px 25px 25px;
}
.content-tools {
    background: #F6F9FC;
    position: relative;
}
.content-tools * {
    position: relative;
    z-index: 1
}
.content-tools h4 {
    font-size: 24px;
    color: #171E42;
    letter-spacing: 0;
}
.content-tools .products p {
    font-size: 17px;
    color: #9499AB;
    letter-spacing: 0;
}
.content-tools h3.main-text {
    font-size: 24px;
    color: #9499AB;
    letter-spacing: 0;
}
.content-tools .icon {
    height: 40px;
    margin-right: 5px
}
.content-tools::before {
    content: ' ';
    background-image: url(assets/BG-CircleBlue.svg);
    display: block;
    background-position: -1090px -1120px;
    background-size: 1990px;
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.2;
}
.container-flow {
    position: relative;
    background: #171E42;
    padding-top: 280px;
    overflow: hidden;
    z-index: 3;
}
.container-flow > div {
    position: relative;
    z-index: 2;
}
.container-flow::before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 214px 1270px 370px 0px;
    border-color: #f6f9fc transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
}
.container-flow::after {
    content: ' ';
    display: block;
    width: 1560px;
    height: 1770px;
    position: absolute;
    top: -900px;
    right: -710px;
    background: url(assets/BG-HexagonArt.svg) no-repeat top right;
    z-index: 1;
    opacity: 0.2;
}
.container-flow .text-left p {
    font-size: 20px;
    color: #C1CED9;
    letter-spacing: 0;
}
.container-flow .text-left p:first-child {
    font-size: 24px;
    color: #F6F9FC;
    letter-spacing: 0;
    margin-bottom: 40px
}
.container-skills {
    position: relative;
    padding: 430px 0 130px;
    margin-top: -311px;
    z-index: 2;
    background: transparent;
}
.container-skills .text-left {
    padding-left: 40px;
}
.container-skills .stripes {
    background: #181e35;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 170px;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    overflow: hidden;
}
.container-skills .stripes:after {
    content: ' ';
    display: block;
    width: 1560px;
    height: 1770px;
    position: absolute;
    top: -500px;
    left: -210px;
    background: url(assets/BG-Triangle.svg) no-repeat top right;
    z-index: 1;
    opacity: 0.2;
}
.fluxograma {
    margin: -70px 0 0 70px
}
.container-skills .stripes:before {
    content: ' ';
    display: block;
    width: 1560px;
    height: 1770px;
    position: absolute;
    top: 0px;
    right: 0;
    background: url(assets/BG-TriangleArt.svg) no-repeat top right;
    z-index: 1;
    opacity: 1;
}
.container-skills .box-item {
    min-height: 100px;
    margin-bottom: 70px
}
.container-skills .box-item p {
    font-family: 'AvenirNext-Medium';
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 25px;
}
.container-skills .box-item p strong {
    color: #00A8FF;
}
.container-skills .about {
    position: relative;
    z-index: 2;
}
.container-skills .box-item span {
    font-family: 'AvenirNext-Bold';
    font-size: 72px;
    color: #00A8FF;
    letter-spacing: 0;
    float: left;
    line-height: 65px;
    margin-right: 30px;
}
.container-brands {
    position: relative;
    background: #ffffff;
    padding-top: 0;
    margin-top: -100px;
    z-index: 1;
    min-height: 740px;
}
.container-brands::before {
    content: ' ';
    display: block;
    width: 400px;
    height: 870px;
    position: absolute;
    top: 0px;
    left: 0;
    background: url(assets/BG-CircleArt.svg) no-repeat top right;
    z-index: 1;
}
.container-brands > div {
    position: relative;
    z-index: 2;
}
.container-brands .text-left {
    padding-left: 420px;
    padding-top: 210px;
    margin-right: 20px;
}
.container-brands .text-left p {
    font-family: 'Avenir-Heavy';
    font-size: 24px;
    color: #9499AB;
    letter-spacing: 0;
}
@-webkit-keyframes logos {
    0%   { 
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
    100% { 
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        }
  }
@-moz-keyframes logos {
    0%   { 
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
    100% { 
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        }
}
@-o-keyframes logos {
    0%   { 
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
    100% { 
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        }
}
@keyframes logos {
    0%   { 
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
    100% { 
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        }
}
.container-fleury {
    position: relative;
    z-index: 2;
    background: #373F68
}
.container-fleury::before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 340px 1510px;
    border-color: transparent transparent #373F68 transparent;
    position: absolute;
    top: -340px;
    right: 0;
}
.box-brands {
    width: 530px;
    overflow: hidden;
    height: 750px;
    margin-top: -190px
}
.box-brands ul {
    will-change: transform;
    -webkit-animation: logos 120s linear infinite;
    animation: logos 120s linear infinite;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
}
.box-brands ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    height: 120px;
}
.box-brands ul li img {
    max-height: 100px;
    max-width: 150px;
}
@media all and (max-width: 768px) {
    .menu .logo img {
        height: 52px;
    }

    /*display none*/
    .menu-itens {
        display: none;
    }
    .presentation h1 img {
        display: none;
    }
    .container-about {
        display: none;
    }
    .container-contacts .contacts .adress {
        display: none;
    }

    .container-menu {
        height: auto;
        padding: 40px 25px 100px 25px;
    }
    .presentation h2, .presentation h3 {
        width: 88%;
    }
    .presentation .contact {
        width: 100%;
        height: 88px;
        display: flex;
        align-items: center;
    }
    .presentation .contact a{
        font-style: 36px;
    }
    .symbols .lines {
        position: absolute;
        right: -595px;
        top: 37px;
        width: 950px;
        height: 500px;
        z-index: 1;
    }
    .symbols .circle {
        position: absolute;
        right: -119px;
        width: 367px;
        opacity: 0.4;
        height: 956px;
        z-index: 1;
    }

    .container-companies .companies {
        justify-content: space-around;
    }
    .container-companies {
        padding: 70px 25px 60px 25px;
    }
    .container-companies .mb {
        margin: 0;
    }
    .companies .logo {
        width: 40%;
        margin-bottom: 100px;
    }
    .companies .logo img {
        max-width: 100%;
        max-height: 100px;
    }
    .container-contacts .contacts .box-contacts {
        margin-left: 0;
        padding: 20px 0;
    }
    .container-footer .footer .logo {
        margin-left: 0;
        margin-bottom: 50px;
    }


    .container-contacts .contacts .box-contacts .middle {
        display: block;
    }
    .container-contacts {
        padding: 60px 25px;
    }
    .container-contacts:before {
        content: '';
        position: absolute;
        transform: rotate(30deg);
        background-image: linear-gradient(-138deg, #D93845 0%, #5F0B4B 100%);
    }
    .container-contacts .contacts .box-contacts input {
        width: 100%;
    }
    .container-contacts .contacts .box-contacts textarea {
        width: 100%;
    }
    .container-contacts .contacts .box-contacts .top {
        display: block;
    }
    .container-contacts .contacts .box-contacts {
        margin-right: 0;
    }
    .container-contacts .contacts .box-contacts input,
    .container-contacts .contacts .box-contacts textarea {
        background: none;
        padding-left: 0;
    }
    .container-contacts .contacts .box-contacts label {
        color: #C1CED9;
    }
    
    .container-contacts .contacts .box-contacts textarea {
        background: none;
        height: auto;
    }
    .container-contacts .contacts .box-contacts div:nth-child(1), 
    .container-contacts .contacts .box-contacts div:nth-child(2),
    .container-contacts .contacts .box-contacts div:nth-child(3) {
        border-bottom: 1px solid #C1CED9;
        padding: 0 25px;
    }
    .container-contacts .contacts .box-contacts div:nth-child(4),
    .container-contacts .contacts .box-contacts div:last-child {
        padding: 0 25px;
    }
    .container-contacts .contacts .box-contacts #submit {
        width: 100%;
    }
    .container-footer .footer {
        display: block;
        padding: 80px 25px;
    }
    .container-footer .footer .collum .collum-item:first-child {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .container-footer .footer .collum {
        display: block;
        margin-left: 0;
    }


    .collum-3-small, .collum-3-big {
        width: 100%;
        margin-right: 0;
    }
}
