* {
    padding: 0;
    margin: 0;
    font-weight: normal!important;
}

a {
    text-decoration: none;
}
/* hide */
.hide {
    display: none;
}
.container-contacts .list {
    display: none;
}
/* hide */
.container {
    position: relative;
    overflow-x: hidden;
}
.container-menu {
    background-image: url('assets/BG-TKS.jpg');
    background-size: cover;
    height: 900px;
    padding: 25px;
}
.menu {
    display: flex;
    position: relative;
    z-index: 5;
}
.menu .logo {
    height: 40px;
}
.menu .menu-itens {
    position: absolute;
    right: 25px;
    z-index: 10;
}
.menu .menu-itens ul {
    display: flex;
    list-style: none;
}
.menu .menu-itens ul li a{
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 16px;
    color: #E6EBEF;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
}
.menu .menu-itens ul li {
    margin-right: 35px;
}
.menu .menu-itens ul li:last-child {
    margin-right: 0;
}
.presentation {
    margin-top: 40px;
    position: relative;
    z-index: 10;
    max-width: 50%;
}
.presentation h1 .big-logo {
    height: 80px;
}
.presentation h2 {
    font-family: AvenirNext-Regular, sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 65px;
    margin-top: 40px;
}
.presentation h3 {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 24px;
    color: #F6F9FC;
    letter-spacing: 0;
    margin-top: 30px;
}
.presentation .contact {
    background-image: linear-gradient(-138deg, #F53F3F 0%, #C7054F 100%);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    font-family: Avenir-Black, sans-serif;
    color: #E6EBEF;
    letter-spacing: 0;
    margin-top: 40px;
    border: none;
    width: 247px;
    display: flex;
}
.presentation .contact a {
    margin: 0 auto;
    text-decoration: none;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e6ebef;
    padding: 8px 20px;
}
.symbols {
    top: 0;
    right: 0;
    overflow-x: hidden;
}
.symbols .circle {
    position: absolute;
    right: -117px;
    top: -257px;
    width: 780px;
    opacity: 0.4;
}
.symbols .lines {
    position: absolute;
    right: -429px;
    top: 52px;
    width: 977px;
}
.container-services {
    background: #131626;
    padding: 80px 25px 25px;
    position: relative;
    overflow: hidden;
}
.container-services .main-text {
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 24px;
    color: #F6F9FC;
    letter-spacing: 0;
    max-width: 805px;
    margin-bottom: 70px;
    position: relative;
    z-index: 5
}
.container-services .services {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}
.container-services .services div {
    margin-bottom: 50px;
}
.container-services .services p {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 17px;
    color: #C1CED9;
    letter-spacing: 0;
}
.container-services .symbol{
    position: absolute;
    top: 13%;
    right: -70%;
}
.container-services .symbol img {
    height: 105em;
    width: 129em;
}

.container-products {
    padding: 80px 25px 25px;
    background: #F6F9FC;
}
.container-products .main-text{
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 24px;
    color: #171E42;
    letter-spacing: 0;
    max-width: 805px;
    margin-bottom: 70px;
}
.container-products .products{
    display: flex;
    flex-wrap: wrap;
}
.container-products .products div {
    margin-bottom: 50px;
}
.container-products .products p {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 24px;
    color: #9499AB;
    letter-spacing: 0;
}

.container-about {
    background: #E6EBEF;
    padding: 80px 25px 60px;
}
.about {
    display: flex;
    flex-wrap: wrap;
}
.about .main-title {
    width: 100%;
    margin-bottom: 70px;
}
.container-about .about ul{
    list-style-position: inside;
}
.container-about .about p, li {
    font-family: Avenir-Book;
    font-size: 15px;
    color: #9499AB;
    letter-spacing: 0;
}
.container-about .about p {
    margin-bottom: 20px;
}
.container-about .about h4.title {
    opacity: 0.67;
    font-family: "Avenir-Heavy", sans-serif;
    color: #171E42;
}
.container-companies {
    transform: rotate(-360deg);
    background-image: linear-gradient(490deg, #D93845 0%, #5F0B4B 100%);
    padding: 80px 63px 100px;
}
.container-companies .title {
    margin-bottom: 100px;
}
.container-companies .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-companies .mb {
    margin-bottom: 60px;
}
.container-companies .logo {
    width: 33.33%;
    text-align: center;
}
.container-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    position: relative;
}
.container-contacts .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    position: absolute;
    padding: 60px 0;
    top: 0;
}
.container-contacts .contacts .box-contacts {
    background: #f6f7f8;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    padding: 20px 40px 40px 20px;
    margin-right: 53px;
    margin-left: 225px;
}

.container-contacts .contacts .box-contacts input {
    height: 40px;
}

.container-contacts .contacts .box-contacts input,
.container-contacts .contacts .box-contacts textarea {
    width: 344px;
    background: #E7EEF4;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
    color: #9499AB;
    font-size: 17px;
    font-family: "Avenir-Medium", sans-serif;
    padding-left: 0.5em;
    box-sizing: border-box;
}
.container-contacts .contacts .box-contacts textarea {
    height: 156px;
    width: 344px;
    background: #E7EEF4;
    border-radius: 6px;
    border: none;
}
.container-contacts .contacts .box-contacts label {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 17px;
    color: #9499AB;
    letter-spacing: 0;
    line-height: 52px;
    margin-right: 30px;
}
.container-contacts .contacts .box-contacts #submit {
    background-image: linear-gradient(162deg, #F53F3F 0%, #C7054F 100%);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.20);
    border-radius: 6px;
    margin: 22px 0 0;
    font-family: Avenir-Black, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    padding: 10px 35px;
    cursor: pointer;
}
.container-contacts .contacts .box-contacts .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-contacts .contacts .box-contacts .top {
    display: flex;
    justify-content: space-between;
}
.container-contacts .contacts .box-contacts .box-submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container-contacts .contacts .adress {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 20px;
    color: #9499AB;
    letter-spacing: 0;
}
.container-contacts .contacts .adress p:first-child {
    margin-bottom: 40px;
}

.container-footer .footer {
    display: flex;
    align-items: center;
    justify-content: left;
    align-items: baseline;
    padding: 90px 0 100px 0;
}

.container-footer .footer .c {
    border: 2px solid #171E42;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.container-footer .footer .c p {
    font-family: "Avenir-Heavy", sans-serif;
}

.container-footer .footer {
    display: flex;
    justify-content: left;
}
.container-footer .footer .logo {
    margin-left: 225px;
    display: flex;
}
.container-footer .footer .collum {
    display: flex;
    margin-left: 130px;
}
.container-footer .footer .collum .collum-item:first-child {
    margin-right: 52px;
}
.container-footer .footer .collum .collum-item ul {
    list-style: none;
}
.container-footer .footer .collum .collum-item ul li a{
    text-decoration: none;
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 18px;
    color: #9499AB;
    letter-spacing: 0;
    line-height: 30px;
}
.container-footer .footer .collum .collum-item h2 a {
    color:#171E42;
}





/*default*/
.center {
    text-align: center;
}
.title-light {
    color: #FFFFFF;
    font-family: "Avenir-Heavy", sans-serif;
}
.title-dark {
    color:#171E42;
    font-family: "AvenirNext-Bold", sans-serif;
}
.title {
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 16px;
}


/*colluns*/
.collum-3-small {
    width: 330px;
    margin-right: 96px;
}
.collum-3-small:last-child {
    margin-right: 0;
}
.collum-3-big {
    width: 360px;
    margin-right: 64px;
}
.collum-3-big:last-child {
    margin-right: 0;
}

/* MOBILE */

@media all and (max-width: 768px) {
    .menu .logo img {
        height: 52px;
    }

    /*display none*/
    .menu-itens {
        display: none;
    }
    .presentation h1 img {
        display: none;
    }
    .container-about {
        display: none;
    }
    .container-contacts .contacts .adress {
        display: none;
    }
    iframe {
        display: none;
    }
    /* display block */
    .hide {
        display: block;
    }
    .container-contacts .list {
        display: block;
    }
    /* display block */

    .container-menu {
        height: auto;
        padding: 40px 25px 100px 25px;
    }
    .presentation {
        max-width: initial;
    }
    .presentation h2, .presentation h3 {
        width: 88%;
    }
    .presentation h3 {
        font-size: 20px;
    }
    .presentation h2 {
    font-size: 31px;
    line-height: 40px;
    }
    .presentation .contact {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
    }
    .presentation .contact a{
        font-style: 36px;
    }
    .symbols .lines {
        position: absolute;
        right: -595px;
        top: 37px;
        width: 950px;
        height: 500px;
        z-index: 1;
    }
    .symbols .circle {
        position: absolute;
        right: -119px;
        width: 367px;
        opacity: 0.4;
        height: 956px;
        z-index: 1;
    }
    .container-services .main-text {
        font-size: 20px;
        position: relative;
        z-index: 5;
    }

    .container-services .symbol{
        position: absolute;
        top: 17%;
        right: -808px;
    }
    .container-services .symbol img {
        height: 86em;
        width: 83em;
    }
    .container-services .services {
        position: relative;
        z-index: 5;
    }

    .container-companies .companies {
        justify-content: space-around;
    }
    .container-companies {
        padding: 70px 25px 60px 25px;
    }
    .container-companies .mb {
        margin: 0;
    }
    .companies .logo {
        width: 40%;
        margin-bottom: 100px;
    }
    .companies .logo img {
        max-width: 100%;
        max-height: 100px;
    }
    .container-contacts {
        padding: 0;
    }
    
    .container-contacts {
        overflow: hidden;
        background: #E6EBEF;
    }
    .container-contacts .contacts {
        padding: 60px 25px;
        position: relative;
        justify-content: center;
    }
    .container-contacts .contacts .text-default {
        font-family: Avenir-Medium;
        color: #9499AB;
        letter-spacing: 0;
        margin-bottom: 50px;
    }
    .container-contacts .contacts .box-contacts {
        margin-left: 0;
        padding: 20px 0;
        margin-bottom: 40px;
    }
    .container-contacts .contacts ul {
        list-style-position: inside;
    }
    .container-contacts .contacts ul li {
        color: #E6EBEF;
        margin-bottom: 40px;
        font-family: Avenir-Medium;
    }
    .container-footer .footer .logo {
        margin-left: 0;
        margin-bottom: 50px;
    }


    .container-contacts .contacts .box-contacts .middle {
        display: block;
    }
    .container-contacts:before {
        content: '';
        position: absolute;
        transform: rotate(60deg);
        background-image: linear-gradient(88deg, #D93845 0%, #5F0B4B 100%);
        height: 1495px;
        width: 1209px;
        top: 0;
    }
    .container-contacts .contacts .box-contacts input {
        width: 100%;
    }
    .container-contacts .contacts .box-contacts textarea {
        width: 100%;
    }
    .container-contacts .contacts .box-contacts .top {
        display: block;
    }
    .container-contacts .contacts .box-contacts {
        margin-right: 0;
    }
    .container-contacts .contacts .box-contacts input,
    .container-contacts .contacts .box-contacts textarea {
        background: none;
        padding-left: 0;
    }
    .container-contacts .contacts .box-contacts label {
        color: #C1CED9;
    }
    
    .container-contacts .contacts .box-contacts textarea {
        background: none;
        height: auto;
    }
    .container-contacts .contacts .box-contacts div:nth-child(1), 
    .container-contacts .contacts .box-contacts div:nth-child(2),
    .container-contacts .contacts .box-contacts div:nth-child(3) {
        border-bottom: 1px solid #C1CED9;
        padding: 0 25px;
    }
    .container-contacts .contacts .box-contacts div:nth-child(4),
    .container-contacts .contacts .box-contacts div:last-child {
        padding: 0 25px;
    }
    .container-contacts .contacts .box-contacts #submit {
        width: 100%;
    }
    .container-footer .footer {
        display: block;
        padding: 80px 25px;
    }
    .container-footer .footer .collum .collum-item:first-child {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .container-footer .footer .collum {
        display: block;
        margin-left: 0;
    }


    .collum-3-small, .collum-3-big {
        width: 100%;
        margin-right: 0;
    }

    /* default */
    .text-default {
        font-size: 18px!important;
    }
}
